{% macro footer() %}
<!-- <footer class="flex flex-row h-24 bg-primary">
    <nav class="flex my-auto space-x-16 ml-24  whitespace-nowrap">
        <a href="#"
          class=" text-white font-navtext rounded-md text-sm font-medium px-3 py-2"
          aria-current="page">Home</a>
        <a href="#"
          class=" text-white font-navtext rounded-md text-sm font-medium px-3 py-2"
          aria-current="page">Products & Services</a>
        <a href="#"
          class=" text-white font-navtext rounded-md text-sm font-medium px-3 py-2"
          aria-current="page">Print Pricing</a>
        <a href="#"
          class=" text-white font-navtext rounded-md text-sm font-medium px-3 py-2"
          aria-current="page">Contact Us</a>
        <a href="#"
          class=" text-white font-navtext rounded-md text-sm font-medium px-3 py-2"
          aria-current="page">Blog</a>
    </nav>
    <div class="flex flex-row w-auto break-normal items-center">
        <p class= "text-white font-navtext text-xs"><strong>Address</strong> <br>Indian Orchard Mill <br>34 Front Street, Suite #344, Door #19,<br>Indian Orchard MA 01151<br>413-923-7278</p>

    </div>
</footer> -->

<footer class="w-full z-30 bg-primary py-3">
  <div class="flex items-center justify-around">
    <div class="flex text-xs tablet:text-sm space-x-2 laptop:space-x-10">
        <a href="#"
          class=" text-white font-navtext rounded-md font-medium px-3 py-2"
          aria-current="page">Home</a>
        <a href="#"
          class=" text-white font-navtext rounded-md font-medium px-3 py-2"
          aria-current="page">Products & Services</a>
        <a href="#"
          class=" text-white font-navtext rounded-md font-medium px-3 py-2"
          aria-current="page">Print Pricing</a>
        <a href="#"
          class=" text-white font-navtext rounded-md font-medium px-3 py-2"
          aria-current="page">Contact Us</a>
        <a href="#"
          class=" text-white font-navtext rounded-md font-medium px-3 py-2"
          aria-current="page">Blog</a>
      </div>
      <div>
        <p class= "text-white hidden tablet:block font-navtext text-xs"><strong>Address</strong> <br>Indian Orchard Mill <br>34 Front Street, Suite #344, Door #19,<br>Indian Orchard MA 01151<br>413-923-7278</p>
      </div>
  </div>
</footer>

{% endmacro %}