{% macro header() %}

<header class="bg-primary">
  <nav class="mx-auto max-w-7xl " aria-label="Top">
    <div class="flex w-full items-center space-x-2 tablet:space-x-12 justify-center mobile:py-6 ">
      <a href="/">
        {% set logo = resize_image(path="images/Logo.jpg", width=50, height=50, op="fill") %}
        <img class="z-20 mx-auto" src="{{logo.url}}" alt="a picture of building" />
      </a>
      <h1 class=" text-md mobile:2xl tablet:text-3xl laptop:4xl mx-auto font-semibold font-buttontext-400 text-white">Giclée Printing and Framing of New England</h1>
     
    </div>
    <!-- <div class="flex flex-wrap justify-center space-x-6 py-4 lg:hidden">
        <a href="#" class="text-base font-medium text-white hover:text-indigo-50">Solutions</a>
  
        <a href="#" class="text-base font-medium text-white hover:text-indigo-50">Pricing</a>
  
        <a href="#" class="text-base font-medium text-white hover:text-indigo-50">Docs</a>
  
        <a href="#" class="text-base font-medium text-white hover:text-indigo-50">Company</a>
      </div> -->
      <div
      class="hidden container mx-auto laptop:flex w-full items-center justify-between py-4"
    >
      <div class="flex items-center mx-auto">
        
        <div class="space-x-40 ">
          <a
            href="/"
            class="text-sm font-navtext-400 text-white hover:text-indigo-50"
            >Home</a
          >

          <a
            href="/productsservices"
            class="text-sm font-navtext-400 text-white hover:text-indigo-50"
            >Product & Services</a
          >

          <a
            href="/pricing"
            class="text-sm font-navtext-400 text-white hover:text-indigo-50"
            >Print Pricing</a
          >

          <a
            href="/contact"
            class="text-sm font-navtext-400 text-white hover:text-indigo-50"
            >Contact Us</a
          >

          <a
            href="/blogpage"
            class="text-sm font-navtext-400 text-white hover:text-indigo-50"
            >Blog</a
          >


        </div>
      </div>
      
    </div>
  </nav>
</header>

{% endmacro %}
