{% macro header() %}

<header class="bg-primary z-30">

  <nav x-data="{ isOpen: false }" class="mx-auto relative max-w-7xl ">

    <!-- Logo, Title and Hamburger icon -->
    <div class="flex w-full items-center space-x-2 tablet:space-x-12 justify-center mobile:py-6 ">

      <a href="{{config.base_url}}/">
        {% set logo = resize_image(path="images/Logo.jpg", width=50, height=50, op="fill") %}
        <img class="z-20 mx-auto " src="{{logo.url}}" alt="a picture of building" />
      </a>

      <h1
        class=" text-base mobile:2xl tablet:text-3xl laptop:4xl text-center mx-auto font-semibold font-buttontext-400 text-white">
        Giclée Printing and Framing of New England</h1>

      <button @click="isOpen = !isOpen" type="submit">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-white lg:hidden" fill="none" viewBox="0 0 24 24"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>

    </div>

    <!-- section of nav links -->
    <div class="hidden container mx-auto laptop:flex w-full items-center justify-between py-4">
      <div class="flex items-center mx-auto">

        <div class="space-x-40 ">
          <a href="{{config.base_url}}/" class="text-sm font-navtext text-white">Home</a>
          <a href="{{config.base_url}}/productsservices" class="text-sm font-navtext text-white">Product & Services</a>
          <a href="{{config.base_url}}/pricing" class="text-sm font-navtext text-white">Print Pricing</a>
          <a href="{{config.base_url}}/contact" class="text-sm font-navtext text-white">Contact Us</a>
          <a href="{{config.base_url}}/blogpage" class="text-sm font-navtext text-white">Blog</a>
        </div>
      </div>
    </div>

    <!-- Alpine JS implementation for small screens' navbar -->
    <div class="z-50 mobile-navbar">
      <!-- navbar wrapper -->
      <div x-cloak class="w-full bg-background shadow-xl text-white" x-show="isOpen" @click.away=" isOpen = false">
        <div class="flex flex-col text-center text-xs font-navtext tablet:text-lg space-y-[2px]">

          <a href="{{config.base_url}}/" class="bg-darkRibbon p-2 font-navtext text-backgroune">Home</a>

          <a href="{{config.base_url}}/productsservices" class="bg-darkRibbon p-2 font-navtext text-backgroune">Product
            & Services</a>


          <a href="{{config.base_url}}/pricing" class="bg-darkRibbon p-2 font-navtext text-backgroune">Print Pricing</a>




          <a href="{{config.base_url}}/contact" class="bg-darkRibbon p-2 font-navtext text-backgroune">Contact Us</a>



          <a href="{{config.base_url}}/blogpage" class="bg-darkRibbon p-2 font-navtext text-backgroune">Blog</a>

        </div>
      </div>
    </div>

  </nav>
</header>





{% endmacro %}