{% import 'macros/header.html' as macros_header -%}
{% import 'macros/footer.html' as macros_footer -%}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>MyBlog</title>
  <script src="//unpkg.com/alpinejs" defer></script>
  <link rel="stylesheet" href="{{ get_url(path="styles/style.css") }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

  <script>
    document.addEventListener('alpine:init', () => {
        Alpine.data('slider', () => ({
            currentIndex: 1,
            images: [
                '/images/WallAPeel.jpeg',
                '/images/Statue.jpeg',
                '/images/CustomFraming.jpeg',
                '/images/DigitalImageEditing.jpeg',
                '/images/MediaTypes.jpeg'
            ],
            back() {
                if (this.currentIndex > 1) {
                    this.currentIndex = this.currentIndex - 1;
                }
            },
            next() {
                if (this.currentIndex < this.images.length) {
                    this.currentIndex = this.currentIndex + 1;
                } else if (this.currentIndex <= this.images.length){
                    this.currentIndex = this.images.length - this.currentIndex + 1
                }
            },
        }))
    })
</script>

</head>

<body class="bg-background">

  {% block header %}
    {{ macros_header::header() }}
  {% endblock header %}

  <section>
    <div class="container max-w-[1440px] mx-auto relative">
      {% block content %} {% endblock %}
    </div>
  </section>




  {% block footer %}
    {{ macros_footer::footer()}}
  {% endblock footer %}
</body>





</html>