{% extends "base.html" %}

{% block content %}


<!-- CONTENTS WITH USE OF FLEX BOXES -->

<!-- first section  -->
<div class="flex flex-col laptop:flex-row flex-wrap items-center justify-center space-x-20 m-5">
    <div><h1 class="text-xl tablet:2xl laptop:text-[34px] font-secheader text-darkRibbon p-2 ">The Business of Art</h1></div>
    <div class="flex items-center justify-center">
        <div class=" h-0 rotate-180 w-0 laptop:border-t-[10px] border-t-[6px] border-t-background laptop:border-b-[10px] border-b-[6px] border-b-background laptop:border-r-[10px] border-r-[6px] border-r-red-800 bg-darkRibbon"></div>
        <div class=" h-[2px] w-[250px]  laptop:h-[3px] laptop:w-[900px] border-none bg-darkRibbon"></div>
    </div>
</div>

<div class="flex flex-col space-y-5 laptop:space-y-0 text-sm tablet:text-base font-bodytext laptop:flex-row mx-auto">
    <div class="hidden relative laptop:block laptop:w-1/4">
        <div class="absolute left-10 top-10 h-0 rotate-60 w-0 laptop:border-t-[60px] border-t-[30px] border-t-background laptop:border-b-[60px] border-b-[30px] border-b-background laptop:border-r-[60px] border-r-[6px] border-r-red-800 bg-darkRibbon"></div>
        <div class="absolute left-36 top-28 rotate-12 h-20 w-20 bg-tan">
        </div>
    </div>
    <div class=" w-full px-5 laptop:px-0 laptop:w-1/4">
        <p>This company has been “in the art business” full time now for over 14 years. For each artist, as for each individual, success needs to be defined.  Unless an artist clearly defines her or his own goals, then success will never be achievable.  Without goals there is no measure and nothing to strive for.
            Each artist might define success differently. For those who are new at the craft, achieving a good likeness of a favorite pet or a tree might be success. For someone else it is whether or not they are accepted into prestigious art shows or hung in galleries. Some might measure success as an artist by their bank account. Another artist will feel successful if the work  produced clearly speaks his or her inner vision to viewers.
            </p>
    </div>
    <div class="w-full flex space-x-5 items-center justify-center laptop:space-x-0 laptop:space-y-5 laptop:flex-col laptop:w-1/6">
        <div class="h-[10px] w-[10px] tablet:h-[20px] tablet:w-[20px] bg-darkRibbon rounded-full"></div>
        <div class="h-[10px] w-[10px] tablet:h-[20px] tablet:w-[20px] bg-darkRibbon rounded-full"></div>
        <div class="h-[10px] w-[10px] tablet:h-[20px] tablet:w-[20px] bg-darkRibbon rounded-full"></div>

    </div>
    <div class="w-full px-5 laptop:px-0 laptop:w-1/4">
        <p>There is one factor that sets artists apart from the rest of the general population. For most there is an overwhelming drive to create. An artist is compelled to be an artist. So therefore the drive to be successful at art is greater for an artist than it is for a bus driver or just about any other profession. Additionally there are many who feel this urge to create so the competition in the art field is great.  Artists compete, not only with other professionals in their field, but with talented amateurs and hobbyists.   If the goal of the artist is to sell her or his work, then one must accept the fact that art is a business. The artist must become a business person in order to achieve success as an artist who sells his or her work.
        </p>
    </div>
</div>

<!-- second section  -->
<div class="flex flex-col laptop:flex-row flex-wrap items-center justify-center space-x-20 m-5">
    <div><h1 class="text-xl tablet:2xl laptop:text-[34px] font-secheader text-darkRibbon p-2 ">The Business Plan</h1></div>
    <div class="flex items-center justify-center">
        <div class=" h-0 rotate-180 w-0 laptop:border-t-[10px] border-t-[6px] border-t-background laptop:border-b-[10px] border-b-[6px] border-b-background laptop:border-r-[10px] border-r-[6px] border-r-red-800 bg-darkRibbon"></div>
        <div class=" h-[2px] w-[250px]  laptop:h-[3px] laptop:w-[900px] border-none bg-darkRibbon"></div>
    </div>
</div>

<div class="flex flex-col space-y-5 laptop:space-y-0 text-sm tablet:text-base font-bodytext laptop:flex-row mx-auto">
    <div class="hidden relative laptop:block laptop:w-1/4">
        <div class="absolute left-36 top-28 rotate-180 w-0 laptop:border-t-[66px] border-t-[30px] border-t-background laptop:border-b-[66px] border-b-[30px] border-b-background laptop:border-r-[60px] border-r-[6px] border-r-red-800 bg-darkRibbon"></div>
        <div class="absolute left-10 top-10 -rotate-6 h-16 w-16 bg-tan">
        </div>
    </div>
    <div class=" w-full px-5 laptop:px-0 laptop:w-1/4">
        <p>The best advice I received before I began my business was to take a course on writing my business plan. I took a course offered by the local Community Development Corp. In my area of Western Massachusetts it is the Quaboag Valley Community Development Corp.  www.qvcdc.com .  This is a great resource not only before one starts a business but after as well.  The Valley Community Development Corp. www.valleycdc.com services the Northampton, Easthampton, Amherst area and offers courses especially for artists.  Community colleges also offer start up business courses for small business and micro enterprises. The NxLevel Course www.nxlevel.org offered by many organizations is a very thorough and easy to follow program designed to help small businesses get started.
        </p>
    </div>
    <div class="w-full flex space-x-5 items-center justify-center laptop:space-x-0 laptop:space-y-5 laptop:flex-col laptop:w-1/6">
        <div class="h-[10px] w-[10px] tablet:h-[20px] tablet:w-[20px] bg-darkRibbon rounded-full"></div>
        <div class="h-[10px] w-[10px] tablet:h-[20px] tablet:w-[20px] bg-darkRibbon rounded-full"></div>
        <div class="h-[10px] w-[10px] tablet:h-[20px] tablet:w-[20px] bg-darkRibbon rounded-full"></div>

    </div>
    <div class="w-full px-5 laptop:px-0 laptop:w-1/4">
        <p>There are many on-line resources as well, but by taking a course you can interact with others who are doing what you are and begin the next essential aspect of business which is Networking. The old business adage, “it’s not what you know but who you know”  is what networking is all about.
            When an artist realizes that producing and selling his or her work is more than wishing and that it takes a business-like approach, then that artist is on the way to becoming a professional. In many cases the only thing that separates the professional artist from the amateur is that the professional is selling his or her art work.  How often have you seen art on line or in magazine and thought, I could do that?  If that is so, then you should have your work on line or in that magazine. What is stopping you? Only your ability to properly market your work.
            </p>
    </div>
</div>


<!-- third section -->
<div class="flex flex-col laptop:flex-row flex-wrap items-center justify-center space-x-20 m-5">
    <div><h1 class="text-xl tablet:2xl laptop:text-[34px] font-secheader text-darkRibbon p-2 ">Set Goals</h1></div>
    <div class="flex items-center justify-center">
        <div class=" h-0 rotate-180 w-0 laptop:border-t-[10px] border-t-[6px] border-t-background laptop:border-b-[10px] border-b-[6px] border-b-background laptop:border-r-[10px] border-r-[6px] border-r-red-800 bg-darkRibbon"></div>
        <div class=" h-[2px] w-[250px]  laptop:h-[3px] laptop:w-[1100px] border-none bg-darkRibbon"></div>
    </div>
</div>

<div class="flex flex-col space-y-5 laptop:space-y-0 text-sm tablet:text-base font-bodytext laptop:flex-row mx-auto">
    <div class="hidden relative laptop:block laptop:w-1/6">
        <div class="absolute left-10 top-10 rotate-30 w-0 laptop:border-t-[60px] border-t-[30px] border-t-background laptop:border-b-[60px] border-b-[30px] border-b-background laptop:border-r-[60px] border-r-[6px] border-r-red-800 bg-darkRibbon"></div>
        <div class="absolute left-5 top-64 rotate-12 h-12 w-12 bg-tan"></div>
    </div>
    <div class=" w-full px-5 laptop:px-0 laptop:w-1/4">
        <p>The place to begin if one wants to sell his or her art work is with a plan. Although a business plan is essential for a successful business, I believe the starting point is the “10 year” plan. By writing a 10 year plan for ones self, one begins to define goals and through that process has an understanding of what must be done to achieve those goals. If one begins a venture, business or otherwise without a plan, it is like taking a cross country trip without a road map (or gps).  Even if one has a general idea of the outcome, the way to reach it is without substance.
           <br><br> To begin the plan start at year 10:  Where do you want to be in ten years?  What do you want to achieve in ten years? This is your goal. Whether it be wealth, fame, or just a comfortable living, you need to define it to yourself and to the universe.
            </p>
    </div>
    <div class="w-full flex space-x-5 items-center justify-center laptop:space-x-0 laptop:space-y-5 laptop:flex-col laptop:w-[90px]">
        <div class="h-[10px] w-[10px] tablet:h-[20px] tablet:w-[20px] bg-darkRibbon rounded-full"></div>
        <div class="h-[10px] w-[10px] tablet:h-[20px] tablet:w-[20px] bg-darkRibbon rounded-full"></div>
        <div class="h-[10px] w-[10px] tablet:h-[20px] tablet:w-[20px] bg-darkRibbon rounded-full"></div>

    </div>
    <div class="w-full px-5 laptop:px-0 laptop:w-1/4">
        <p>The next step is to begin to plan how to reach that goal. If, for example, you would like to be selling enough art work to have income to travel as well as live on, what do you need to achieve that?  A large savings account? Regular sales of your work? What is the dollar figure? What is the amount you will need? When you begin to set down figures you begin to see what kind of effort must be made in order to reach that goal.  Must you sell 20 pieces of art each year at $5,000? Can you produce and sell 20 pieces of art a year? Will a gallery take 50%? Will you need to produce 40 pieces of art? When you begin to analyze the figures, you begin to see how much effort you will need to make to realize your goal.  For some this is enough for them to give up on art as a full time career and concentrate on something else.  For others it will be the motivation to focus and perfect their skills and move forward.
        </p>
    </div>
    <div class="w-full flex space-x-5 items-center justify-center laptop:space-x-0 laptop:space-y-5 laptop:flex-col laptop:w-[90px]">
        <div class="h-[10px] w-[10px] tablet:h-[20px] tablet:w-[20px] bg-darkRibbon rounded-full"></div>
        <div class="h-[10px] w-[10px] tablet:h-[20px] tablet:w-[20px] bg-darkRibbon rounded-full"></div>
        <div class="h-[10px] w-[10px] tablet:h-[20px] tablet:w-[20px] bg-darkRibbon rounded-full"></div>

    </div>
    <div class="w-full px-5 laptop:px-0 laptop:w-1/4">
        <p>If, after the initial analysis, you still want to pursue this goal, you need to develop the ten year plan.  By working backwards, from year ten, to year nine, to year seven, to year five, to year three, to year two, to next year, to nine months from now, to six months, to three months, to two months, to one month, to three weeks, to two weeks, to one week, to tomorrow.  By doing this you will set out definite steps you must take to achieve your goal.
        </p>
    </div>
</div>


<!-- fourth section  -->
<div class="flex flex-col laptop:flex-row flex-wrap items-center justify-center space-x-20 m-5">
    <div><h1 class="text-xl tablet:2xl laptop:text-[34px] font-secheader text-darkRibbon p-2 ">Getting Resources</h1></div>
    <div class="flex items-center justify-center">
        <div class=" h-0 rotate-180 w-0 laptop:border-t-[10px] border-t-[6px] border-t-background laptop:border-b-[10px] border-b-[6px] border-b-background laptop:border-r-[10px] border-r-[6px] border-r-red-800 bg-darkRibbon"></div>
        <div class=" h-[2px] w-[250px]  laptop:h-[3px] laptop:w-[900px] border-none bg-darkRibbon"></div>
    </div>
</div>

<div class="flex flex-col space-y-5 laptop:space-y-0 text-sm tablet:text-base font-bodytext laptop:flex-row mx-auto">
    <div class="hidden relative laptop:block laptop:w-1/5">
        <div class="absolute left-10 top-10 h-0 rotate-180 w-0 laptop:border-t-[40px] border-t-[70px] border-t-background laptop:border-b-[40px] border-b-[30px] border-b-background laptop:border-r-[40px] border-r-[6px] border-r-red-800 bg-darkRibbon"></div>
        <div class="absolute left-5 top-48 -rotate-12 h-20 w-20 bg-tan"></div>
    </div>
    <div class=" w-full px-5 laptop:px-0 laptop:w-1/4">
        <p>Once the task of building the plan is done the next step is to gather resources. This is time consuming but necessary.  Before the internet this task must have been monumental.  Now, however, resource gathering can be done from your computer.   You will need to gather information on everything from your costs of doing business to legal considerations. You will likely need to know who your competition is and what they charge for the services you want to offer. All the while keep in mind how you will be different (better). <br><br>This is, of course, just a partial list of some of the research you must do in order to begin your art business.  But it is a starting point.
        </p>
    </div>
    <div class="w-full flex space-x-5 items-center justify-center laptop:space-x-0 laptop:space-y-5 laptop:flex-col laptop:w-1/6">
        <div class="h-[10px] w-[10px] tablet:h-[20px] tablet:w-[20px] bg-darkRibbon rounded-full"></div>
        <div class="h-[10px] w-[10px] tablet:h-[20px] tablet:w-[20px] bg-darkRibbon rounded-full"></div>
        <div class="h-[10px] w-[10px] tablet:h-[20px] tablet:w-[20px] bg-darkRibbon rounded-full"></div>

    </div>
    <div class="w-full flex px-5 laptop:px-0 laptop:w-1/3">
        <p>Some of the resources you will need:<br>
            web site – (how will you make your on-line presence?)<br>
accountant – (how do you plan to keep records and finances?)<br>
bank- (will you need a separate business checking account?)<br>
legal advise – (what will your business identity and structure be?)<br>
networking- (who will be your customers? how do you find them?)<br>
finance – (how will you support yourself while getting established?)<br>
costs and expenses- (what are your expenses?)<br>
pricing- (what will you need to charge to make a living?)<br>
business cards, brochures, etc. -(do it yourself or hire someone?)<br>
advertising – (how do you let the customers know you exist?)<br>
location – (even working from home you need studio space)<br>

        </p>
    </div>
</div>


<!-- fifth section  -->
<div class="flex flex-col laptop:flex-row flex-wrap items-center justify-center space-x-20 m-5">
    <div><h1 class="text-xl tablet:2xl laptop:text-[34px] font-secheader text-darkRibbon p-2 ">Your Marketing Plan</h1></div>
    <div class="flex items-center justify-center">
        <div class=" h-0 rotate-180 w-0 laptop:border-t-[10px] border-t-[6px] border-t-background laptop:border-b-[10px] border-b-[6px] border-b-background laptop:border-r-[10px] border-r-[6px] border-r-red-800 bg-darkRibbon"></div>
        <div class=" h-[2px] w-[250px]  laptop:h-[3px] laptop:w-[900px] border-none bg-darkRibbon"></div>
    </div>
</div>

<div class="flex flex-col space-y-5 laptop:space-y-0 text-sm tablet:text-base font-bodytext laptop:flex-row mb-5 mx-auto">
    <div class="hidden relative laptop:block laptop:w-1/4">
        <div class="absolute left-10 top-10 h-0 rotate-60 w-0 laptop:border-t-[80px] border-t-[30px] border-t-background laptop:border-b-[80px] border-b-[30px] border-b-background laptop:border-r-[80px] border-r-[6px] border-r-red-800 bg-darkRibbon"></div>
        <div class="absolute left-36 top-64 rotate-12 h-20 w-20 bg-tan">
        </div>
    </div>
    <div class=" w-full px-5 laptop:px-0 laptop:w-1/4">
        <p>Galleries are retail businesses.  If they take your work on commission they will ask for 50%.  If you just double your price for the gallery sale, you are undercutting the gallery representing you and you will soon lose any gallery position you have. As a retail business a gallery has to charge that commission in order to meet the costs of doing business.  If you are selling to the general public at half of what the gallery asks then you are cheating the gallery. Therefore, understand that the money you will receive when you sell through a gallery is half of what you would make if you sell it on your own.
            <br><br>There are many on-line galleries and storefronts. Some people find success but most artists I have talked to say that they have not sold anything through them. But they are a good way to showcase your work if you do not have a web site. However, you must have good quality images wherever you choose to show your work on the Internet. A poorly photographed work of art is not going to get much attention.
            </p>
    </div>
    <div class="w-full flex space-x-5 items-center justify-center laptop:space-x-0 laptop:space-y-5 laptop:flex-col laptop:w-1/6">
        <div class="h-[10px] w-[10px] tablet:h-[20px] tablet:w-[20px] bg-darkRibbon rounded-full"></div>
        <div class="h-[10px] w-[10px] tablet:h-[20px] tablet:w-[20px] bg-darkRibbon rounded-full"></div>
        <div class="h-[10px] w-[10px] tablet:h-[20px] tablet:w-[20px] bg-darkRibbon rounded-full"></div>

    </div>
    <div class="w-full px-5 laptop:px-0 laptop:w-1/4">
        <p>If you plan to sell your work at outdoor shows, attend the shows first. See how others set up their booths. Talk to the vendors. Stand back and see which booth attracts your attention. Analyze it. What is it that works? See who has attracted the most customers. What brings people into that artist’s booth? In the high end shows, the cost of booth space is quite high. You want to be sure you can attract the customer flow into your space.
           <br><br> If you want to sell your work in galleries, you must visit galleries. Do not assume that just because you love your art work, every one will. Do not put your art out there before you are ready. Galleries are very choosy and want to show work they think will sell. Some galleries ask for exclusivity. That might prevent you from selling your work yourself.
            </p>
    </div>
</div>






























{% endblock content %}