{% extends "base.html" %}

{% block content %}
<div class="text-center text-6xl text-darkRibbon mt-8 p-6"> Contact Us</div>

<section class="relative">

    <div class="flex flex-col flex-col-reverse laptop:items-start laptop:flex-row w-4/5 mx-auto items-center justify-center space-x-28 laptop:justify-around">
        <div class="laptop:w-1/4 w-full z-10">
            <p class="text-black">Address: </p>
            <p class="text-gray-600">Giclée Printing & Framing of New England, 34 Front Street, Suite #344, Indian Orchard MA 01151</p>
            <p class="text-black">Text or Call: </p>
            <p class="text-gray-600">413 - 923 - 7278 </p>
            
            

        </div>

        <div class="z-20 mb-5">
        <img class="w-[250px] min-h-[300px]" src="https://pbs.twimg.com/media/CR45LOXVEAADG5E.jpg" alt="couple hanging frame" />
      </div>
        </div>
  
        </div>
    </div>
</section>



{% endblock content %}