{% extends "base.html" %}

{% block content %}
<div class="text-center text-6xl text-darkRibbon mt-8 p-6"></div>

<section class="relative">

    <div class="flex flex-col flex-col-reverse laptop:items-start laptop:flex-row w-4/5 mx-auto items-center justify-center space-x-28 laptop:justify-around">
        <div class="laptop:w-1/4 w-full z-10">
            <h1 class="text-darkRibbon text-6xl">Contact Us</h1>
            <br>
            <p class="text-black text-1xl"><strong>Stay in touch! Here is our new address and contact info!</strong></p>
            <br>
            <p class="text-darkRibbon">Address: </p>
            <p class="text-black">Giclée Printing & Framing of New England, 34 Front Street, Suite #344, Indian Orchard MA 01151</p>
            <br>
            <p class="text-darkRibbon">Text or Call: </p>
            <p class="text-black">413 - 923 - 7278 </p>
            <br>
            <p class="text-darkRibbon">Facebook: </p>
            <p class="text-black">Lisa@gicleeprintpro.com </p>
            <br>
            <p class="text-black">If you have questions, need more information, or want to make an appointment to discuss your project and/or needs, please contact us!</p>

            

            
            

        </div>

        <div class="z-20 mb-5">
        <img class="w-[431px] min-h-[381px]" src="https://pbs.twimg.com/media/CR45LOXVEAADG5E.jpg" alt="couple hanging frame" />
      </div>
        </div>
  
        </div>
    </div>
</section>

<div class="text-center text-6xl text-darkRibbon mt-8 p-6"></div>



{% endblock content %}