{% extends "base.html" %}

{% block content %}
<div class="text-center text-6xl text-darkRibbon mt-6"></div>

<section class="relative">

    <div class="grid grid-cols-1 tablet:grid-cols-2 items-center justify-items-center gap-x-4 gap-y-4 px-8">
        <div class="mx-auto mobile:text-center tablet:text-left">
            <h1 class="text-darkRibbon text-6xl">Contact Us</h1>
            <br>
            <p class="text-black text-1xl"><strong>Stay in touch! Here is our new address and contact info!</strong></p>
            <br>
            <p class="text-darkRibbon">Address: </p>
            <p class="text-black">Giclée Printing & Framing of New England, 34 Front Street, Suite #344, Indian Orchard
                MA 01151</p>
            <br>
            <p class="text-darkRibbon">Text or Call: </p>
            <p class="text-black">413 - 923 - 7278 </p>
            <br>
            <p class="text-darkRibbon">Facebook: </p>
            <p class="text-black">Lisa@gicleeprintpro.com </p>
            <br>
            <p class="text-black">If you have questions, need more information, or want to make an appointment to
                discuss your project and/or needs, please contact us!</p>
        </div>

        <div class="mb-5 w-full mx-auto">
            <img class="w-[431px] min-h-[381px] mx-auto" src="https://pbs.twimg.com/media/CR45LOXVEAADG5E.jpg"
                alt="couple hanging frame" />
        </div>
    </div>


</section>

<div class="text-center text-6xl text-darkRibbon mt-8 p-6"></div>



{% endblock content %}