{% extends "base.html" %}

{% block content %}



<!-- background decor with ABSOLUTES  [LEFT] -->
<div class="absolute hidden z-40 desktop:block left-56 top-[1050px] rotate-12 h-20 w-20 bg-tan"></div>
<div class="absolute hidden z-40 desktop:block left-[500px] top-[1200px] rotate-90 w-0 laptop:border-t-[60px] border-t-[30px] border-t-background laptop:border-b-[60px] border-b-[30px] border-b-background laptop:border-r-[60px] border-r-[6px] border-r-red-800 bg-darkRibbon"></div>
<div class="absolute hidden z-40 desktop:block left-80 top-[1300px] -rotate-12 h-24 w-24 bg-tan"></div>
<!-- background decor with ABSOLUTES  [RIGHT] -->
<div class="absolute hidden z-40 desktop:block right-40 top-[475px] -rotate-90 w-0 laptop:border-t-[60px] border-t-[30px] border-t-background laptop:border-b-[60px] border-b-[30px] border-b-background laptop:border-r-[60px] border-r-[6px] border-r-red-800 bg-darkRibbon"></div>
<div class="absolute hidden z-40 desktop:block right-20 top-[750px] rotate-12 h-20 w-20 bg-tan"></div>
<div class="absolute hidden z-40 desktop:block right-32 top-[1000px] rotate-0 w-0 laptop:border-t-[50px] border-t-[30px] border-t-background laptop:border-b-[50px] border-b-[30px] border-b-background laptop:border-r-[50px] border-r-[6px] border-r-red-800 bg-darkRibbon"></div>

<div class="flex flex-col">
    <div class="flex flex-row h-auto w-auto">
      <!-- 1 of the 2 big colums under picture-->
        <div class="hidden laptop:block w-52 h-auto bg-tan" ></div>
        <div class="flex flex-col w-screen">
            <div class="mt-32">
                <p class="w-full font-secheader text-darkRibbon text-6xl -mt-9 absolute text-center">Custom Framing</p>
                <div class="-ml-48 h-auto">
                    {% set customframe = resize_image(path="images/CustomFramingCrop.jpg", width=1155, height=266, op="fill") %}
                    <img class=" z-20 mx-auto" src="{{customframe.url}}" alt="Stacks of materials/pictures" />
                    <!-- <img class="w-[1155px] min-h-[266px]" src="https://via.placeholder.com/1155x266.jpg" alt="Frames" > -->
                </div>


            </div>
            <div class="flex flex-col laptop:flex-row">
                <!--First column under picture-->
                <div class="flex flex-col">
                    <h1 class="w-auto h-auto font-secheader text-darkRibbon laptop:text-4xl text-2xl mt-12 ml-16 ">Custom Framing, Color <br> Design & Finishing</h1>
                    <div class="mt-9 ml-28 w-72 h-auto">
                        <p class="font-bodytext text-sm tablet:text-base">Our custom frame shop offers a full line of moldings’ and acid free mats.   Utilizing industry standards, a work of art or fine photography is not complete until it is framed and prepared to hang in your home or in a gallery.</p>
                        <p class="font-bodytext mt-12 text-sm tablet:text-base">Our frame shop also offers many finishing options for artists. We can dry mount your images to foam or gator board. We can mat and shrink wrap your prints for sale or presentation.</p>
                    </div>
                    <div class="mt-16 ml-24">
                        <a href="/pricing">
                            <button class=" shadow-black shadow-md border-none text-[20px] laptop:text-[34px] bg-darkRibbon font-light font-buttontext cursor-pointer hover:bg-red-700 text-white py-1 px-6 border ">See Print Pricing</button>
                        </a>
                    </div>

                </div>
                <!--Second column * right of first column *-->
                <div class="flex flex-col  h-auto">
                    <div class="laptop:mt-56 tablet:mt-20 mt-10 laptop:ml-32 mobile:ml-16 ml-5">
                        <h1 class="w-[460] h-auto font-secheader text-darkRibbon laptop:text-4xl text-2xl">Color Design Specialist<br>By Appointment</h1>
                        <div class="w-64 h-auto mt-7 ml-12">
                            <p class="font-bodytext text-sm tablet:text-base">Let’s face it, some of us just do not have a good eye for color especially matching complimentary colors..  Even if you do have a  talent for colors, sometimes it’s beneficial to have someone else take a look and provide additional options.  Call to setup an appointment with our color design specialist who will help you decide what will best enhance your image or artwork. </p>
                            <p class="ml-3 font-bodytext font-bold">*Extra fee required for this special service*</p>
                        </div>
                    </div>
                    <div class="flex flex-col laptop:flex-row laptop:mt-24 ">
                        <h1 class="font-secheader text-darkRibbon laptop:text-4xl text-2xl mobile:ml-16 laptop:-ml-40 mobile:mt-10 laptop:mt-0">Disclaimers
                            <div class="hidden laptop:block absolute -mt-14 -ml-5 h-0 rotate-180 w-0 laptop:border-t-[10px] border-t-[6px] border-t-background laptop:border-b-[10px] border-b-[6px] border-b-background laptop:border-r-[10px] border-r-[6px] border-r-red-800 bg-darkRibbon"></div>
                            <div class="hidden laptop:block absolute -mt-12 -ml-3 h-[2px] w-[300px]  laptop:h-[3px] laptop:w-[900px] border-none bg-darkRibbon"></div>
                        </h1>
                        <div class=" w-96 h-auto laptop:mt-16 mobile:mt-8 ml-10 mb-20 ">
                            <p class="font-bodytext text-sm tablet:text-base">Due to copyright laws, we will need proof of artist / photographer consent to print works that are not originating from you.  Exceptions include pieces that are 100+ yrs old or in the public domain.</p>
                            <p class="font-bodytext text-sm tablet:text-base">Print pricing may vary due to supply chain issues and increased prices of our papers, matboards, foam core and frames. Unfortunately these costs must be passed on in order for our business to survive. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}