{% extends "base.html" %}

{% block content %}
<div class="h-96 w-full"></div>
<div class="flex flex-col">
  <div class="flex flex-row h-auto w-auto">
    <!-- 1 of the 2 big colums under picture-->
    <div class="w-52 h-auto bg-tan" ></div>
    <!-- the 2nd big column where almost all information will be-->
    <div class="w-auto h-auto bg-background flex flex-col">
      <!-- start of first big flex row section-->
      <div class="flex flex-row h-auto w-auto">
        <div class="flex flex-col h-auto w-auto">
          <p class=" w-96 ml-36 mt-24 font-bodytext text-base">Giclée prints are made using acid free archival papers and high dynamic range pigment inks.  Each print should last at least 100 yrs and should stand up to generational passing down.  
          Put simply, pigment-based particles form a thicker layer on a substrate than dyes.
          <p class=" w-80 ml-36 mt-6 font-bodytext text-base">Prints are offered with or without a .5” white border.  If the end goal is matting and framing then we would include the .5” 
          border and price according to the media size (image size plus border).  1-3 day turnaround.</p>
          <p class=" w-72 ml-36 mt-8 font-bodytext text-base">Pricing is distubuted into groups of prints, excluding 1-3 prints of the same size.</p>
        </div>
        <div class="w-auto bg-background">Picture</div>
      </div> 
      <!-- start of grid section moving onto the second large flex row section-->
      <div class="flex flex-row w-auto h-auto bg-background ">
      <div class="h-auto grid grid-cols-3 gap-x-32 gap-y-24 mt-16 ml-16 mr-20">
        <div class="w-44 text-center mx-auto">
          <h1 class="text-darkRibbon text-xl font-extrabold">8" x 10"</h1>
          <div class="flex flex-col gap-y-5 mt-5">
            <div class="flex flex-row justify-between font-bodytext text-base">
              <p>1-3</p>
              <p>$14.78 each</p>
            </div>
            <div class="flex flex-row justify-between font-bodytext text-base pr-8">
              <p>4-10</p>
              <p>$14.04</p>
            </div>
            <div class="flex flex-row justify-between font-bodytext text-base pr-8">
              <p>11-25</p>
              <p>$13.03</p>
            </div>
            <div class="flex flex-row justify-between font-bodytext text-base pr-8">
              <p>26-50</p>
              <p>$12.56</p>
            </div>
            <div class="flex flex-row justify-between font-bodytext text-base pr-8">
              <p>51-100</p>
              <p>$11.82</p>
            </div>
          </div>
        </div>
        <div class="w-44 text-center mx-auto">
          <h1 class="text-darkRibbon text-xl font-extrabold">10" x 10"</h1>
          <div class="flex flex-col gap-y-5 mt-5">
            <div class="flex flex-row justify-between font-bodytext text-base">
              <p>1-3</p>
              <p>$18.07 each</p>
            </div>
            <div class="flex flex-row justify-between font-bodytext text-base pr-8">
              <p>4-10</p>
              <p>$17.17</p>
            </div>
            <div class="flex flex-row justify-between font-bodytext text-base pr-8">
              <p>11-25</p>
              <p>$16.26</p>
            </div>
            <div class="flex flex-row justify-between font-bodytext text-base pr-8">
              <p>26-50</p>
              <p>$15.35</p>
            </div>
            <div class="flex flex-row justify-between font-bodytext text-base pr-8">
              <p>51-100</p>
              <p>$11.82</p>
            </div>
          </div>
        </div>
        <div class="w-44 text-center mx-auto">
          <h1 class="text-darkRibbon text-xl font-extrabold">11" x 14"</h1>
          <div class="flex flex-col gap-y-5 mt-5">
            <div class="flex flex-row justify-between font-bodytext text-base">
              <p>1-3</p>
              <p>$26.88 each</p>
            </div>
            <div class="flex flex-row justify-between font-bodytext text-base pr-8">
              <p>4-10</p>
              <p>$25.53</p>
            </div>
            <div class="flex flex-row justify-between font-bodytext text-base pr-8">
              <p>11-25</p>
              <p>$24.19</p>
            </div>
            <div class="flex flex-row justify-between font-bodytext text-base pr-8">
              <p>26-50</p>
              <p>$22.85</p>
            </div>
            <div class="flex flex-row justify-between font-bodytext text-base pr-8">
              <p>51-100</p>
              <p>$21.50</p>
            </div>
          </div>
        </div>
        <div class="w-44 text-center mx-auto">
          <h1 class="text-darkRibbon text-xl font-extrabold">12" x 12"</h1>
          <div class="flex flex-col gap-y-5 mt-5">
            <div class="flex flex-row justify-between font-bodytext text-base">
              <p>1-3</p>
              <p>$25.23 each</p>
            </div>
            <div class="flex flex-row justify-between font-bodytext text-base pr-8">
              <p>4-10</p>
              <p>$23.97</p>
            </div>
            <div class="flex flex-row justify-between font-bodytext text-base pr-8">
              <p>11-25</p>
              <p>$22.71</p>
            </div>
            <div class="flex flex-row justify-between font-bodytext text-base pr-8">
              <p>26-50</p>
              <p>$21.45</p>
            </div>
            <div class="flex flex-row justify-between font-bodytext text-base pr-8">
              <p>51-100</p>
              <p>$20.18</p>
            </div>
          </div>
        </div>
        <div class="w-44 text-center mx-auto">
          <h1 class="text-darkRibbon text-xl font-extrabold">12" x 16"</h1>
          <div class="flex flex-col gap-y-5 mt-5">
            <div class="flex flex-row justify-between font-bodytext text-base">
              <p>1-3</p>
              <p>$33.00 each</p>
            </div>
            <div class="flex flex-row justify-between font-bodytext text-base pr-8">
              <p>4-10</p>
              <p>$31.35</p>
            </div>
            <div class="flex flex-row justify-between font-bodytext text-base pr-8">
              <p>11-25</p>
              <p>$29.70</p>
            </div>
            <div class="flex flex-row justify-between font-bodytext text-base pr-8">
              <p>26-50</p>
              <p>$28.05</p>
            </div>
            <div class="flex flex-row justify-between font-bodytext text-base pr-8">
              <p>51-100</p>
              <p>$26.40</p>
            </div>
          </div>
        </div>
        <div class="w-44 text-center mx-auto">
          <h1 class="text-darkRibbon text-xl font-extrabold">16" x 16"</h1>
          <div class="flex flex-col gap-y-5 mt-5">
            <div class="flex flex-row justify-between font-bodytext text-base">
              <p>1-3</p>
              <p>$43.15 each</p>
            </div>
            <div class="flex flex-row justify-between font-bodytext text-base pr-8">
              <p>4-10</p>
              <p>$40.99</p>
            </div>
            <div class="flex flex-row justify-between font-bodytext text-base pr-8">
              <p>11-25</p>
              <p>$38.84</p>
            </div>
            <div class="flex flex-row justify-between font-bodytext text-base pr-8">
              <p>26-50</p>
              <p>$36.68</p>
            </div>
            <div class="flex flex-row justify-between font-bodytext text-base pr-8">
              <p>51-100</p>
              <p>$34.52</p>
            </div>
          </div>
        </div>
        <div class="w-44 text-center mx-auto">
          <h1 class="text-darkRibbon text-xl font-extrabold">16" x 20"</h1>
          <div class="flex flex-col gap-y-5 mt-5">
            <div class="flex flex-row justify-between font-bodytext text-base">
              <p>1-3</p>
              <p>$53.80 each</p>
            </div>
            <div class="flex flex-row justify-between font-bodytext text-base pr-8">
              <p>4-10</p>
              <p>$50.64</p>
            </div>
            <div class="flex flex-row justify-between font-bodytext text-base pr-8">
              <p>11-25</p>
              <p>$47.97</p>
            </div>
            <div class="flex flex-row justify-between font-bodytext text-base pr-8">
              <p>26-50</p>
              <p>$45.31</p>
            </div>
            <div class="flex flex-row justify-between font-bodytext text-base pr-8">
              <p>51-100</p>
              <p>$42.64</p>
            </div>
          </div>
        </div>
        <div class="w-44 text-center mx-auto">
          <h1 class="text-darkRibbon text-xl font-extrabold">18" x 18"</h1>
          <div class="flex flex-col gap-y-5 mt-5">
            <div class="flex flex-row justify-between font-bodytext text-base">
              <p>1-3</p>
              <p>$53.90 each</p>
            </div>
            <div class="flex flex-row justify-between font-bodytext text-base pr-8">
              <p>4-10</p>
              <p>$51.21</p>
            </div>
            <div class="flex flex-row justify-between font-bodytext text-base pr-8">
              <p>11-25</p>
              <p>$48.51</p>
            </div>
            <div class="flex flex-row justify-between font-bodytext text-base pr-8">
              <p>26-50</p>
              <p>$45.81</p>
            </div>
            <div class="flex flex-row justify-between font-bodytext text-base pr-8">
              <p>51-100</p>
              <p>$43.12</p>
            </div>
          </div>
        </div>
        <div class="w-44 text-center mx-auto">
          <h1 class="text-darkRibbon text-xl font-extrabold">18" x 24"</h1>
          <div class="flex flex-col gap-y-5 mt-5">
            <div class="flex flex-row justify-between font-bodytext text-base">
              <p>1-3</p>
              <p>$70.92 each</p>
            </div>
            <div class="flex flex-row justify-between font-bodytext text-base pr-8">
              <p>4-10</p>
              <p>$67.37</p>
            </div>
            <div class="flex flex-row justify-between font-bodytext text-base pr-8">
              <p>11-25</p>
              <p>$63.83</p>
            </div>
            <div class="flex flex-row justify-between font-bodytext text-base pr-8">
              <p>26-50</p>
              <p>$60.28</p>
            </div>
            <div class="flex flex-row justify-between font-bodytext text-base pr-8">
              <p>51-100</p>
              <p>$56.74</p>
            </div>
          </div>
        </div>
        <!--End of grid section-->

      </div>
      </div>
      <div class="flex flex-row w-auto h-auto bg-background font-bodytext text-base">
        <p class="w-96 ml-40 mt-5 ">
          When sending image files please send the highest resolution file that you have.  
          The better the image we <br>start with, the better the final product will look.  
          We will work with almost any file type but prefer the following:</p>
        <ul class="ml-24 mt-5 list-disc">
          <li>300 DPI</li>
          <li>.TIF</li>
          <li>SRGB Color Profile</li>
        </ul>
      </div>
      <div class="flex flex-row w-auto h-auto mb-20 bg-background">
        <h1 class="ml-80 mt-24 font-secheader text-4xl text-darkRibbon">Disclaimers</h1>
        <p class="mt-32 ml-10 w-96 font-bodytext text-base">Due to copyright laws, we will need proof of artist / photographer consent to
          print works that are not <br> originating from you.  Exceptions include pieces that are 100+ yrs old or in the public domain.
          <br> Print pricing may vary due to supply chain issues and increased prices of our papers, matboards, foam core and frames. 
          Unfortunately these costs must be passed on in order for our business to survive. 
        </p>
      </div>
    </div>
    <!--Start of 3rd large column-->
    <!-- <div class="w-auto h-auto bg-background">
      <h1 class=" -rotate-90 font-secheader whitespace-nowrap text-darkRibbon text-5xl">Prices By Frame Size (in inches)</h1>
    </div> -->
  </div>

    
    
  
</div>

    <!-- <h1 class="text-3xl">
      A gallery of my beautiful art. TESTTT -->
<!-- <section class="prose">
    {{ page.content | safe }}
  </section> -->

{% endblock content %}