{% extends "base.html" %}

{% block content %}

<div class="w-full h-52 bg-tan"></div>
<div class="w-full h-auto -mt-28 items-center">
    <img class=" mx-auto w-[1010px] min-h-321px]" src="https://via.placeholder.com/1010x321.jpg" alt="Frames"> 
</div>

<div class="flex flex-col">
    <div class="flex flex-row">
        <div class="flex flex-col lg:w-1/2 sm:w-full">
            <div class="w-96 h-auto ml-80 mt-12 mr-10">
                <div class="flex flex-col">
                    <p class="font-bodytext mb-12">These packages are made for the artist or photographer who wants to sell reproductions of their work in a classy, standard size package that is ready to be popped into a standard sized frame.</p>
                    <p class="font-bodytext mb-12">Each package includes the Giclée Print on Premium Fine Art or Photo Paper.  Choice of White Linen, Off White, Black Linen or Black Onyx mat colors.  Each package is enclosed in a clear acid free sleeve and includes the print; matted and mounted on foam core, and a customized “Certificate of Authenticity”.  All materials are acid free and archival…made to last for generations to come.</p>
                    <p class="font-bodytext">After making sure you are getting the highest quality archival print available, we hand cut the print, custom cut your mat (with the same hands), align, attach and put carefully into the clear sleeve.  We even use linen tape to attach your print to the foam core…something you wouldn’t see.</p>
                </div>
            </div>
            <div class="flex flex-row">
                <p class="w-96 h-auto ml-64 mt-48 mb-20 font-bodytext">Due to copyright laws, we will need proof of artist / photographer consent to print works that are not originating from you.  Exceptions include pieces that are 100+ yrs old or in the public domain.
                <br>Print pricing may vary due to supply chain issues and increased prices of our papers, matboards, foam core and frames. Unfortunately these costs must be passed on in order for our business to survive. </p>
                <div class="font-secheader text-darkRibbon text-4xl ml-8 mt-36 -mr-44">Disclaimers</div>
                
            </div>
        </div>
        <div class="flex flex-col lg:w-1/2 sm:w-full">
            <div class="bg-tan w-full h-24 mt-5">
                <p class="text-3xl font-medium font-bodytext ml-10 mt-2" >All packages are handled with<br> love and much care!</p>
            </div>
            <p class="mt-16 ml-24 font-secheader text-darkRibbon text-4xl">Print Package Pricing:</p>
            <div class="h-auto w-fit mt-10 ml-28 grid lg:grid-cols-2 sm:grid-cols-1 sm">
                <div class="w-60 text-center bg-tan mx-auto  pb-4 pt-7">
                    <h1 class="font-bodytext text-xl font-extrabold">8" x 10" & 10" x 10"</h1>
                    <div class="flex flex-col gap-y-5 mt-5">
                        <div class="flex flex-row ml-5 mr-5 justify-between font-bodytext text-base">
                            <p>1-3</p>
                            <p>$44.00 each</p>
                        </div>
                        <div class="flex flex-row ml-5 mr-5 justify-between font-bodytext text-base pr-8">
                            <p>4-10</p>
                            <p>$41.80</p>
                        </div>
                        <div class="flex flex-row ml-5 mr-5 justify-between font-bodytext text-base pr-8">
                            <p>11-25</p>
                            <p>$39.60</p>
                        </div>
                        <div class="flex flex-row ml-5 mr-5 justify-between font-bodytext text-base pr-8">
                            <p>26-50</p>
                            <p>$37.40</p>
                        </div>
                        <div class="flex flex-row ml-5 mr-5 justify-between font-bodytext text-base pr-8">
                            <p>51-100</p>
                            <p>$35.20</p>
                        </div>
                    </div>
                </div>
                <div class="w-60 text-center mx-auto pb-4 pt-7">
                    <h1 class="font-bodytext text-xl font-extrabold">11" x 14" & 12" x 12"</h1>
                    <div class="flex flex-col gap-y-5 mt-5">
                        <div class="flex flex-row ml-5 mr-5 justify-between font-bodytext text-base">
                            <p>1-3</p>
                            <p>$58.00 each</p>
                        </div>
                        <div class="flex flex-row ml-5 mr-5 justify-between font-bodytext text-base pr-8">
                            <p>4-10</p>
                            <p>$55.00</p>
                        </div>
                        <div class="flex flex-row ml-5 mr-5 justify-between font-bodytext text-base pr-8">
                            <p>11-25</p>
                            <p>$52.50</p>
                        </div>
                        <div class="flex flex-row ml-5 mr-5 justify-between font-bodytext text-base pr-8">
                            <p>26-50</p>
                            <p>$49.00</p>
                        </div>
                        <div class="flex flex-row ml-5 mr-5 justify-between font-bodytext text-base pr-8">
                            <p>51-100</p>
                            <p>$46.40</p>
                        </div>
                    </div>
                </div>
                <!-- empty grid column-->
                <div class="w-60 h-72 pb-4 pt-7"></div>
                <!--last grid entry-->
                <div class="w-60 text-center bg-tan mx-auto pb-4 pt-7">
                    <h1 class="font-bodytext text-xl font-extrabold">16" x 20" & 16" x 16"</h1>
                    <div class="flex flex-col gap-y-5 mt-5">
                        <div class="flex flex-row ml-5 mr-5 justify-between font-bodytext text-base">
                            <p>1-3</p>
                            <p>$80.00 each</p>
                        </div>
                        <div class="flex flex-row ml-5 mr-5 justify-between font-bodytext text-base pr-8">
                            <p>4-10</p>
                            <p>$76.00</p>
                        </div>
                        <div class="flex flex-row ml-5 mr-5 justify-between font-bodytext text-base pr-8">
                            <p>11-25</p>
                            <p>$72.00</p>
                        </div>
                        <div class="flex flex-row ml-5 mr-5 justify-between font-bodytext text-base pr-8">
                            <p>26-50</p>
                            <p>$68.00</p>
                        </div>
                        <div class="flex flex-row ml-5 mr-5 justify-between font-bodytext text-base pr-8">
                            <p>51-100</p>
                            <p>$64.00</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


{% endblock content %}