{% extends "base.html" %}

{% block content %}



<div class="hidden desktop:block absolute z-0 w-[195px] h-[962px] -top-10 bg-tan"></div>

<!-- <div class="pt-32 z-20">
    {% set digital = resize_image(path="images/DigitalImageEditing.jpeg", width=1172, height=337, op="fill") %}
    <img class="relative z-20 mx-auto" src="{{digital.url}}" alt="a picture of building" />
</div> -->

<!-- <h1 class="hidden laptop:block tracking-tighter font-light absolute z-30 right-32 top-20 text-[60px] text-darkRibbon font-secheader">Digital Image Editing</h1> -->

 <!-- background decor with ABSOLUTES  [LEFT] -->
<!-- <div class="hidden desktop:block absolute z-40 left-30 top-[500px] rotate-180 w-0 laptop:border-t-[66px] border-t-[30px] border-t-background laptop:border-b-[66px] border-b-[30px] border-b-background laptop:border-r-[60px] border-r-[6px] border-r-red-800 bg-darkRibbon"></div>
<div class="hidden desktop:block absolute z-40 left-5 top-[700px] -rotate-6 h-12 w-12 bg-tan"></div>
<div class="absolute hidden z-40 desktop:block left-20 top-[850px] rotate-90 w-0 laptop:border-t-[60px] border-t-[30px] border-t-background laptop:border-b-[60px] border-b-[30px] border-b-background laptop:border-r-[60px] border-r-[6px] border-r-red-800 bg-darkRibbon"></div>
<div class="absolute hidden z-40 desktop:block left-28 top-[1100px] rotate-12 h-20 w-20 bg-tan"></div>
<div class="absolute hidden z-40 desktop:block left-16 top-[1250px] -rotate-90 w-0 laptop:border-t-[50px] border-t-[30px] border-t-background laptop:border-b-[50px] border-b-[30px] border-b-background laptop:border-r-[50px] border-r-[6px] border-r-red-800 bg-darkRibbon"></div>
<div class="absolute hidden z-40 desktop:block left-72 top-[1300px] rotate-0 w-0 laptop:border-t-[30px] border-t-[30px] border-t-background laptop:border-b-[30px] border-b-[30px] border-b-background laptop:border-r-[30px] border-r-[6px] border-r-red-800 bg-darkRibbon"></div>
  -->
 <!-- background decor with ABSOLUTES  [RIGHT] -->
 <!-- <div class="hidden desktop:block absolute z-40 right-30 top-[500px] rotate-180 w-0 laptop:border-t-[66px] border-t-[30px] border-t-background laptop:border-b-[66px] border-b-[30px] border-b-background laptop:border-r-[60px] border-r-[6px] border-r-red-800 bg-darkRibbon"></div> -->
 <div class="hidden desktop:block absolute z-40 right-5 top-[300px] -rotate-6 h-16 w-16 bg-tan"></div>
 <div class="absolute hidden z-40 desktop:block right-16 top-[520px] rotate-90 w-0 laptop:border-t-[60px] border-t-[30px] border-t-background laptop:border-b-[60px] border-b-[30px] border-b-background laptop:border-r-[60px] border-r-[6px] border-r-red-800 bg-darkRibbon"></div>
 <div class="absolute hidden z-40 desktop:block right-16 top-[700px] rotate-12 h-20 w-20 bg-tan"></div>
 <div class="absolute hidden z-40 desktop:block right-56 top-[800px] rotate-180 w-0 laptop:border-t-[20px] border-t-[30px] border-t-background laptop:border-b-[20px] border-b-[30px] border-b-background laptop:border-r-[20px] border-r-[6px] border-r-red-800 bg-darkRibbon"></div>
 

<div class="flex w-full justify-end items-center my-10">
    <div class="hidden laptop:block w-[900px] h-[95px] bg-tan z-40">
        <h1 class="w-[700px] h-[95px] py-2 text-right pr-5 text-[26px] align-middle font-secheader text-black ">Don’t let your office or building become a liability with heavy frames that can do damage!</h1>
    </div>
</div>
<div class="flex flex-col space-y-10 laptop:flex-row laptop:justify-between my-20 ">

    <div class="flex w-5/6 laptop:w-3/5 desktop:pl-[215px] flex-col items-center justify-start space-y-10 text-[15px] mx-auto font-bodytext">
    
        <div class="w-full px-5 ">
            <p>What makes this adhesive backed, printed fabric appealing is it’s amazing ability to stick to any smooth surface and be re-positioned many times without causing damage to walls or furniture.  Goes on clean and comes off cleanly to stick again and again.  Rotate your photographic quality prints to make any room look fresh and new.  Wall-A-Peel does not rip, stretch or wrinkle, is safe for any wall and meets fire safety standards.</p>
        </div>
        <div class="w-full flex items-center justify-center space-x-10 ">
            <div class="h-[20px] w-[20px] laptop:h-[40px] laptop:w-[40px] bg-darkRibbon rounded-full"></div>
            <div class="h-[20px] w-[20px] laptop:h-[40px] laptop:w-[40px] bg-darkRibbon rounded-full"></div>
            <div class="h-[20px] w-[20px] laptop:h-[40px] laptop:w-[40px] bg-darkRibbon rounded-full"></div>
    
        </div>
        <div class="w-full px-7 ">
            <div class="z-50"><h1 class="text-2xl opacity-90 text-left laptop:text-[34px] font-secheader text-darkRibbon p-2 ">To calculate price:</h1></div>
            <ul class="list-disc">
                <li class="mb-2">Length (inches) x Width (inches) = Size in square inches</ol>
                <li class="mb-2">Take the size in square inches and divide by 144 = size in square feet</ol>
                <li> Take the size in square feet and multiply by 16</ol>  
            </ul>
        </div>
    
    </div>

    <div class="flex flex-col font-bodytext items-center justify-center space-y-8 ">
        <div class="w-full text-center px-5 ">
            <h3 class="mb-5 font-bold">Wall A Peel - $19 per square ft</h3>
            <p class="mb-3" >*Wall-A-Peel max size is 42″inches by 100′ ft*  </p>
            <p>Please contact us for any questions and <br>we will offer discount based on job size</p></p> 
        </div>
        <div class="hidden laptop:flex items-center justify-center">
            <div class=" h-0 -rotate-180 w-0 laptop:border-t-[10px] border-t-[6px] border-t-background laptop:border-b-[10px] border-b-[6px] border-b-background laptop:border-r-[10px] border-r-[6px] border-r-red-800 bg-darkRibbon"></div>
            <div class=" h-[2px] w-[300px]  laptop:h-[3px] laptop:w-[500px] border-none bg-darkRibbon"></div>
        </div>
        <button class="shadow-black w-[200px] h-[50px] laptop:w-[310px] laptop:h-[68px] shadow-md border-none text-[20px] laptop:text-[34px] bg-darkRibbon font-light font-buttontext cursor-pointer hover:bg-red-700 text-white py-1 px-6 border ">
            See Print Pricing
          </button>
    </div>

</div>



<div class="hidden laptop:flex flex-col flex-wrap items-start justify-center">
    <div class="flex items-center justify-center">
        <div class=" h-[2px] w-[300px]  laptop:h-[3px] laptop:w-[1000px] border-none bg-darkRibbon"></div>
        <div class=" h-0 rotate-0 w-0 laptop:border-t-[10px] border-t-[6px] border-t-background laptop:border-b-[10px] border-b-[6px] border-b-background laptop:border-r-[10px] border-r-[6px] border-r-red-800 bg-darkRibbon"></div>
    </div>
</div>

<div class="z-50 mb-5 tablet:mt-10 "><h1 class="text-2xl opacity-90 text-center laptop:text-left laptop:pl-[700px] laptop:text-[34px] font-secheader text-darkRibbon p-2 ">Disclaimers</h1></div>

<div class="flex font-bodytext justify-center items-center laptop:justify-start text-[15px] mb-10 ">
    <div class="laptop:ml-[300px] w-2/3 laptop:w-[460px]">
        <p>Due to copyright laws, we will need proof of artist / photographer consent to print works that are not originating from you.  Exceptions include pieces that are 100+ yrs old or in the public domain.
        <br> Print pricing may vary due to supply chain issues and increased prices of our papers, matboards, foam core and frames. Unfortunately these costs must be passed on in order for our business to survive.    </p>   
    </div>
</div>


{% endblock content %}